.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: #6c88c8;
  font-size: 16px;
  color: white;
  display: flex;
}
.App-header img {
  max-height: 70px;
}
.App-footer {
  background-color: #6c88c8;
  font-size: 16px;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 25px;
}
.App-footer a {
  color: white !important;
  text-decoration: none !important;
  text-transform: uppercase;
  margin-right: 30px;
  font-size: 16px;
}
#side-navigation {
  position: absolute;
  right: 0;
  top: 15px;
  color: #fff;
}
.App-Card {
  box-shadow: none !important;
  text-align: center;
}
.App-Card a {
  margin-right: 20px;
  text-decoration: none !important;
}
.butt{
  background-color: #476fbf;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}
.butt2{
  background-color: #3c9e6b;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px;
  border-radius: 8px;
}
.butt3{
  background-color: #b4521d;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px;
  border-radius: 8px;
}
