.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-logo1 {
  height: 5vmin;
  pointer-events: none;
  padding-right: 20px;
  padding-left: 40px;
}
.butt2{
  background-color: #c11d1d;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 8px;
}
.App-header {
  background: #a31c1c;
  font-size: 20px;
  color: white;
  display: flex;
}

.header1{
  background-color: white;
  padding: 8px;
}
.App-header img {
  max-height: 70px;
}
.App-footer {
  background-color: #a31c1c;
  font-size: 16px;
  bottom: 0;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 25px;
}
.App-footer a {
  color: white !important;
  text-decoration: none !important;
  text-transform: uppercase;
  margin-right: 30px;
  font-size: 16px;
}
#side-navigation {
  position: absolute;
  right: 0;
  top: 15px;
  color: #fff;
}
.App-Card {
  box-shadow: none !important;
  text-align: center;
}
.App-Card a {
  margin-right: 20px;
  text-decoration: none !important;
}
.butt{
  background-color: white;
  border: none;
  color: black;
  padding: 8px;
  padding-inline: 15px;
  text-align: center;
  text-decoration: none; 
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 8px;
  font-weight: 700;
}
div.MuiToolbar-root p {
  margin-bottom: 0;
}
.butt:hover {
  background-color: rgb(225, 225, 225);
  color: black;
  cursor: pointer;
}
.title {
  color: #c11d1d;
}
.butt2{
  background-color: #c11d1d;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 8px;
}
.butt2:hover {
  background-color: #e92626;
  color: white;
  cursor: pointer;
}
.dialog1{
  color: red;
  font-size: larger;
  justify-content: end;
}
.align-right {
  display: flex !important;
  justify-content: right !important;
}